<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

        <form v-on:submit.prevent="add">
            <input v-model="inputNamaBaru">
            <button>Add</button>
        </form>
        
        <ul>
            <li v-for="(name, key) in names">
                {{ name.fullName }} || 
                <button onclick="vm.edit(index)">Edit</button> || 
                <!-- <button @click="$delete(names, key)">Delete</button> -->
                <button v-on:click="greet">Delete</button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                inputNamaBaru: '',
                names: [{
                        fullName: 'Lee Min Ho',
                    }, {
                        fullName: 'Jung Kook',
                    }, {
                        fullName: 'Lenka'
                    }
                ]},
            methods : {
                add: function () {
                    this.names.push({
                        fullName: this.inputNamaBaru
                    })
                    this.inputNamaBaru = ''
                },

                edit: function(index) {
                    this.editInput = this.names[index];
                    // console.log(this.editInput);
                    this.names.splice(index, 1);
                },

                delete: function(names) {
                     // console.log(this.bin[index]);
                    this.names.splice(names, 1);
                },

                    // define methods under the `methods` object
                    
                        greet: function (event) {
                        // `this` inside methods points to the Vue instance
                        alert('Yakin ingin menghapus?')
                        // `event` is the native DOM event
                        if (event) {
                            alert(event.target.tagName);
                            
                        }
                    }
            }
        }) 
    </script>
</body>
</html>